/* 初期設定のリセット */

/* "*":ユニバーサルセレクタ (全称セレクタ) */
*{
	margin: 0;
	padding: 0;
}

/* タグ：要素セレクタ（タイプセレクタ） */
body{
	font-size: 1em;
	line-height: 1em; /* 文字のあるところは行間を設定する事！ */
	color: #000;
	background-color: #E3E3FF;
}

a:link{color:#4B00C8;text-decoration:none;}
a:visited{color:#2D0059;}
a:hover{color:#00BFFF;text-decoration:underline;}
a:active{color:#DCE800;}



/* #:idセレクタ */
div#header{
	width: 800px;
	margin: 0 auto 0 auto;
	background-color: #FFF;
}
	div#header h1{
		margin: 0 0 3px 0;
	}
		
		div#header p{
		padding: 0 0 3px 0;
		text-align: center;
		font-size: 0.8em;
		line-height: 1.4;
	}



div#nav{
	width: 800px;
	height: 30px;
	margin: 0 auto 0 auto;
	background-color: #FFF;
}
	
	div#nav ul{
		width: 720px;
		height: 30px;
		margin: 0 auto 0 auto;
		list-style-type: none;
	}
		
		div#nav ul li{
			float: left;
			width: 120px;
			height: 30px;
		}



div#content{
	clear: left;
	
	width: 800px;
	margin: 0 auto 0 auto;
	background-color: #FFF;
}
	
	div#content div#content_in{
		padding: 20px;
	}


div#footer{
	width: 800px;
	margin: 0 auto 0 auto;
	background-color: #0000FF;
}
	div#footer div#footer_in{
		padding: 4px 10px 5px 10px;
		text-align: right;
		font-size: 0.8em;
		color: #FFF;
}
























/* スクロールバーを強制表示 */

/*IE6だけに適用*/
*html body{
   overflow-y:auto;
}

/*IE7だけに適用*/
*+html body{
   overflow-y:auto;
}

body{
   overflow-y:scroll;
}

